@media (min-width: 768px) {
	.button {
		font-family: 'Inter', sans-serif;
		font-size: 14px;
		width: 100px;
		height: 40px;
		background: #2e68c0;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: none;
		color: white;
		position: relative; /* ✅ in document flow */
		border-radius: 6px;
		margin-left: auto; /* ✅ aligns right */
		margin-right: 119px;
		margin-top: 6px;
		z-index: 10;
		cursor: pointer;
		top: -801px;
		left: 258px;
	}
}

.buttonMobile {
	font-family: 'Inter', sans-serif;
	font-size: 13.5px;
	width: 68px;
	height: 32px;
	background: #2e68c0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	color: white;
	position: relative;
	border-radius: 6px;
	margin-left: 113px;
	margin-bottom: 17px;
	z-index: 10;
	cursor: pointer;
	top: -63px;
	left: 10px;
	box-shadow: none;
}

.buttonMobile, .button {
	z-index: 10;
}

.button:hover {
	background: #1a4f9f;
}

.svgIcon {
	display: none;
	width: 25px;
	margin-right: 6px;
	margin-top: -3px;
}

