div.sidebarContainer {
  width: 340px;
	min-width: 300px;
	height: 100vh;
  margin-right: 24px;
  box-shadow: 0px 7px 18px hsla(242, 16%, 42%, 0.38), 2px 3px 6px hsla(0, 0%, 64%, 0.08);
  background-image: linear-gradient(165deg, #26d6c4 0%, #10b1d3 100%);
}
.sidebarHeader {
	background-color: #4bb2ae;
	text-align: center;
	padding: 4px 6px;
	display: flex;
	justify-content: center;
}
a.returnHome {
  display: flex;
	align-items: center;
	color: white;
	font-family: 'Baloo2-Bold';
	letter-spacing: 0.8px;
	padding: 12px 16px;
}
a.returnHome svg {
	margin-right: 12px;
}
svg.home-active-icon {
  margin-right: 7px;
  color: #fff;
}
.homePath {
	color: #fff;
}
div.sidebarItems {
	padding: 4px 14px;
}
.sidebarContainer h2 {
	color: white;
	font-family: 'Baloo2-Bold';
}
.sidebarContainer ul {
	list-style: none;
	padding: 0;
}
li.listElement {
	display: flex;
	background-color: #fff;
	box-shadow: 0px 8px 25px hsla(255, 24%, 91%, 1);
	padding: 4px 13px 4px 6px;
	margin: 10px 0;
	border-radius: 6px;
	font-size: 13px;
}
a.listLink {
	display: flex;
	width: 100%;
}
img.sidebarThumbnail {
	height: 45px;
	width: 45px;
	margin-right: 8px;
	border-radius: 4px;
}
div.sidebarName {
margin: auto 0;
}
div.led {
  width: 13px;
  height: 13px;
  background-color: #2ac64f;
  border-radius: 100px;
  margin: auto 0 auto auto;
  display: block;
  box-shadow: 0 0 6px 1px rgba(38,175,52,.88);
}
div.threadsLed {
	background-color: #f08e25;
	box-shadow: 0 0 6px 1px #f08e25;
}
div.songsLed {
 box-shadow: 0 0 6px 1px rgba(38,175,52,.88);
 background-color: #2ac64f;
}
div.blogLed {
 background-color: #4d6dc8;
 box-shadow: 0 0 6px 1px #385cc6;
}
