/* StabilizerText.module.css */

.stabilizerText {
	padding: 12px 12px 12px 12px;
  box-shadow: 0px 8px 25px hsla(255, 24%, 91%, 1);
	display: flex;
	border-radius: 5px;
	font-size: 16.5px;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	min-height: 60px;
}

@media (min-width: 769px) {
	.stabilizerText {
		max-width: 900px;
	}
}

.exitIconContainer {
  cursor: pointer;
  display: flex;
	position: relative;
	padding: 8px;
	top: -12px;
}
.exitIconContainer path, .exitIconContainer polygon {
	fill: #aaaeae;
}
.exitIcon {
	width: 16px;
	height: 16px;
	margin-left: auto;
}
.exitIcon:hover {
	opacity: 0.7;
}

.textContent {
	position: relative;
	top: -16px;
	text-align: center;
}


@media (max-width: 768px) {
	.stabilizerText {
		margin: 16px 0 12px 0;
	}
	.exitIcon {
		width: 14px;
		height: 14px;
	}
}

