.tokenDashboard {
	display: flex;
	flex-direction: column;
  box-shadow: 0px 8px 25px hsl(250.9, 24.4%, 91.2%);
  width: 300px;
  padding: 18px 16px;
  margin: 18px 0 10px 0;
	border: 1px solid #eaeaea;
	border-radius: 10px;
}

.tokenDashboard strong {
}

.dashboardRow {
	display: flex;
	margin: 2px 0 2px 0 ;
}

.extraCreditContainer {
	margin: 8px 0 0 0 ;
}

.membershipState {
	display: flex;
	flex-direction: column;
	margin: 4px 0 0 0;
}
.membershipState ul {
	margin: 4px 0 0 12px;
	padding: 0 0 0 12px;
	font-size: 14px;
}
.membershipState li a {
	margin: 0;
}
.membershipState .liItem {
	display: flex;
	margin: auto 0;
}

.learnMore a {
	font-size: 13px;
}
.learnMoreSpan a {
	font-size: 13px;
	margin-left: 6px;
}
.learnMore a:hover {
	opacity: 0.7;
}

