body {
	margin: 0;
	font-family: 'Baloo2-Regular';
}
.loaderComponent {
	width: 100px;
}
.mainFeed {
	height: 95vh;
	width: 100%;
	overflow-y: auto;
	padding: 12px 12px 0 12px;
}
a.upLevel {
	display: block;
	width: 50px;
}
div.previous-button svg {
	height: 16px;
	width: 16px;
	padding: 8px;
	border-radius: 100px;
	background-color: #4bb2ae;	
}
div.previous-button svg path {
	fill: white;
}
div.topRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
a.menuItem {
	margin: 4px 0;
	padding: 4px 6px;
	height: 30px;
	display: flex;
	justify-content: start;
	align-items: center;
	font-size: 12px;
}
a.menuItem svg {
	height: 16px;
	margin-right: 9px;
	width: 16px;
}
a {
	text-decoration: none;
	font-family: 'Baloo2-Regular';
}

div.ploddings h2 {
	font-size: 16px;
}
div.bodyA {
	display: flex;
}

.ploddings.light {
	background-color: #f6f9f9;
}

/* styles/fonts.css */

@font-face {
  font-family: 'Baloo2-Bold';
  src: url('./fonts/Baloo2-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo2-Medium';
  src: url('./fonts/Baloo2-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo2-SemiBold';
  src: url('./fonts/Baloo2-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo2-ExtraBold';
  src: url('./fonts/Baloo2-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo2-Regular';
  src: url('./fonts/Baloo2-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

svg.menuIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 18px;
  margin-left: auto;
  margin-right: 28px;
}

svg.menuIcon:hover path {
  fill: #5dbfbc;
}

.menu {
  display: none;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: absolute; /* or fixed depending on requirement */
  top: 50px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  width: 250px; /* Adjust as needed */
  padding: 0 10px;
}

.menu.show {
  display: block;
  opacity: 1;
  border-radius: 10px;
}

.menuItem {
  margin: 8px 0;
  padding: 4px 8px;
  display: flex;
  max-height: 34px;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
}
.menuItem:hover {
  color: #fafafa;
  background-color: #1CC5CB;
}
.menuItem svg {
  height: 18px;
  width: 18px;
}
.menuLabel {
  margin-left: 11px;
  font-size: 14px;
  font-weight: 500;
  color: #284646;
}
.menuItem:hover #icon path,
.menuItem:hover #icon polygon,
.menuItem:hover .menuLabel {
  fill: #fafafa;
  color: #fafafa;
}


