div.bodyA {
	display: flex;
}
.songNameContainer {
	display: flex;
	align-items: center;
}
.songNameContainer svg {
	height: 20px;
	margin: 0 0 2px 12px;
}
.parentInfoLinkContainer {
	display: inline-block;
}
.parentInfoLinkContents {
	display: flex;
	align-items: center;
}

.parentInfoLinkContainer img {
	height: 50px;
	width: 50px;
	border-radius: 100px;	
	margin-right: 13px;
}

.tuningButton {
	display: inline-block;
	width: 18ch;
	background-color: orange;
	color: white;
	margin: 18px 0;
	border-radius: 20px;
	font-size: 12px;
}
.tuningButton div {
	width: 100%;
	text-align: center;
}
.tuningButton:hover {
	opacity: 0.8;
}
.chevronChapters {
	fill: black;
}
.dropdownButton svg {
	width: 16px;
	margin-left: 4px;
	align-self: center;
}
.dropdownButton {
	display: flex;
	font-size: 12px;
	align-content: center;
}
.bottomBorder {
	border-bottom: 1px solid #d2d2d2;
	margin: 16px 8px 12px 8px;
}
.componentsContainer {
	display: flex;
	margin-bottom: 22px;
}
.primaryColumn {
	margin-top: 4px;
	min-width: 650px;
	width: 100%;
}
.tocContainer {
	max-width: 40vw;
	padding: 0 12px 0 22px;
	border-left: 1px solid #d2d2d2;
	margin: 0 14px 18px 18px;
}
.tableOfContents {
	position: sticky;
	display: flex;
	flex-direction: column;
	top: 8px;
}
.tableOfContents h2 {
	font-weight: 600;
	font-size: 16px;
	margin-bottom: 10px;
}
.tableOfContents a {
	font-weight: 300;
	font-size: 13px;
	margin: 0 0 5px 0;
}
.tabButton {
  background: none;
  font-size: 14px;
  border-bottom: 1px solid #d2d2d2;
  border: 1px solid #d2d2d2;
  padding: 6px 10px;
	border-radius: 5px;
	margin-right: 4px;
}
.tabButton.active {
	font-weight: 500;
}
.tabPane {
	padding: 8px 0px;
	margin: 8px 0;
	font-size: 14px;
	font-weight: 400;
}
.paginationContainer {
	display: flex;
	justify-content: space-between;
	margin: 18px 0 24px 0;
}
.paginationBlog a {
	display: flex;
	align-items: center;
}
.paginationBlog.previous {
	margin-right: auto;
}
.paginationBlog.next {
	margin-left: auto;
}
.paginationBlog svg {
	height: 16px;
	margin-left: 8px;
}
.paginationBlog.previous svg {
	height: 12px;
	margin-right: 8px;
}

